# PYCARET AutoML

In [1]:
from pycaret.classification import *
import pandas as pd

# Load the datasets
train_df = pd.read_csv('../data/processed_train.csv')
test_df = pd.read_csv('../data/processed_test.csv')

# Initialize setup
# clf1 = setup(data=train_df, target='Emotion', session_id=123, text_features=['processed_text'])

# # Align columns
# # For training data, we use 'processed_text' as feature and 'Emotion' as target
# train_df = train_df[['processed_text', 'Emotion']]

# # For test data, we use 'processed_text' as feature and 'sentiment' as target
# # Rename 'sentiment' to 'Emotion' to match the training set
# test_df = test_df[['processed_text', 'sentiment']]
# test_df.rename(columns={'sentiment': 'Emotion'}, inplace=True)

# Verify the alignment
# print("Training Dataset Columns:", train_df.columns)
# print("Test Dataset Columns:", test_df.columns)

# Handle missing values in 'processed_text'
train_df['processed_text'].fillna('', inplace=True)
test_df['processed_text'].fillna('', inplace=True)

In [2]:
# Ensure columns match
assert list(train_df.columns) == list(test_df.columns), "Columns do not match!"

In [3]:
# Verify the alignment
print("Training Dataset Columns:", train_df.columns)
print("Test Dataset Columns:", test_df.columns)

Training Dataset Columns: Index(['processed_text', 'Emotion'], dtype='object')
Test Dataset Columns: Index(['processed_text', 'Emotion'], dtype='object')

In [4]:
clf = setup(data=train_df, target='Emotion', session_id=123, text_features=['processed_text'])

In [5]:
# Compare models
best_model = compare_models()

In [6]:
# Train the best model
best_model = create_model(best_model)

# Evaluate the best model
evaluate_model(best_model)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelinâ€¦

In [7]:
# Ensure the test set has the same structure
test_df = test_df[train_df.columns]

# Predict on the test dataset
predictions = predict_model(best_model, data=test_df.drop(columns=['Emotion']))
print(predictions.head())

                                      processed_text prediction_label  \
0  tiffanylue know listenin bad habit earlier sta...          sadness
1             layin n bed headache ughhhhwaitin call            anger
2                      funeral ceremonygloomy friday            anger
3                              want hang friend soon            anger
4  dannycastillo want trade someone houston ticke...            anger

   prediction_score
0              0.56
1              0.42
2              0.44
3              0.54
4              0.31